.user-list {
  &__container {
    margin: 0 59px 25px 34px;
  }
  &__header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 17px;
    padding-top: 19px;
  }
  &__users-amount {
    text-align: end;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.2rem;
  }
}